target/
!.mvn/wrapper/maven-wrapper.jar
logs
LOG_HOME_IS_UNDEFINED
CATALINA_BASE_IS_UNDEFINED
log.dir_IS_UNDEFINED
temp
.DS_Store
REF.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.gitlab-ci.yml


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
